.prodDivGeneral{
    display: flex;
    width: calc(100vw - 200px);
    margin-left: 200px;
    height: 100vh;

    &-config{
        display: flex;
        flex-direction: column;
        width: 200px;
        align-items: center;
        padding: 55px 10px;
        margin-top: 50px;
        margin: 0 2rem 0 2rem;

        &_Box{
            border: 3px solid rgba(0, 45, 67, 0.11);
            border-radius: 10px;
            width: 180px;
            height: auto;
            box-sizing: border-box;
            margin-bottom: 20px;
            margin-top: 45px;

            
            &-header{ 
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                &:not(:last-child) {
                    border-bottom: 3px solid rgba(0, 45, 67, 0.11) ;
                }
                

                &_text{
                    margin: 0;
                    font-family: Prosto One;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 6px;

                }
                &_span{
                    width: 10px;
                    height: 3px;
                    background-color: #FF414D;
                  
                }
                &_spanX{
                    width: 10px;
                    height: 3px;
                    background-color: #FF414D;
                    transform: rotate(90deg) translateY(-49px); 
                }
            }
            &-content {
                display: flex;
                padding: 15px;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                &_list{
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    height: auto;
                    width: 100%;
                    padding: 0;               

                    &Item{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 15px;
                        border: 1px solid rgba(0, 45, 67, 0.11);
                        border-radius: 6px;
                        margin-right: 15px;  
                        width: 12px;
                        height: 8px;  
                        margin-bottom: 15px;
                        transition: all ease-in-out 0.2s;

                        &:nth-child(4){
                            margin-bottom: 0;
                        }
                        &:nth-child(5){
                            margin-bottom: 0;
                        }
                        &:nth-child(6){
                            margin-bottom: 0;
                        }
                        &:hover{
                            background-color: #FF414D;
                            cursor: pointer;
                            a{
                                color: #FFFFFF;
                            }
                        }
                        
                        a{
                            text-decoration: none;
                            font-family: Prosto One;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 6px;
                            color: black;
                        }
                                  
                    }
                }
                &_input{
                    margin: 12px 5px 0px 5px;
                }
                &_text{
                    text-decoration: none;
                    font-family: Prosto One;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    color: black;
                }
                &_button{
                    outline: none;
                    background: none;
                    border: 1px solid rgba(0, 45, 67, 0.11);
                    border-radius: 6px;
                    font-family: Prosto One;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    transition: all ease-in-out 0.2s;

                    &:hover{
                        background-color: #FF414D;
                        cursor: pointer;
                        color: #FFFFFF;
                    }
                }
                &_list2{
                    list-style: none;
                    display: flex;
                    flex-direction: column; 
                    justify-content: center; 
                    height: auto;
                    width: 100%;
                    padding: 0; 

                    &Item{
                        margin-right: 15px;    
                        margin-bottom: 15px;

                        &:last-child{
                            margin-bottom: 0;
                        }

                        a{
                            text-decoration: none;
                            font-family: Prosto One;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 6px;
                            color: black;
                            transition: all ease-in-out 0.2s;

                            &:hover{
                                color: #FF414D;
                                cursor: pointer;
                                text-decoration: underline;
                            }

                        }
                    }
                }
            }
        }   
    }
    &-carousel{
        width: 100%;

        &_header{

            &-div{
                display: flex;
                justify-content: flex-end ;
                height: 100px;
                letter-spacing: 2pt;            
                align-items: center;

                &Breadcrumb{
                    display: flex;
                    list-style: none;
                    position: absolute;
                    left: 250px !important;
                    font-family: Prosto One;
                    
                        &:hover{
                            cursor: pointer;
                            a{
                                color: #FF414D;;
                            }
                        }
            
                }

                &Text{
                        text-decoration: none;
                        font-family: Prosto One;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 6px;
                        color: black;
                        margin-right: 27px;
                        margin-top: 50px;
                        
                        &:nth-child(3){
                            color: #FF414D;
                        }

                        &-span::before{
                            content: "";
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;
                            width: 0; 
                            height: 0; 
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid #FF414D;  
                    }
                }
            }
        }
        &_content{
            display: flex;
            flex-wrap: wrap;
            &-box{
                background-color: #D9ECF2;
                border-radius: 10px;
                width: 200px;
                height: 220px;
                box-sizing: border-box;
                position: center;
                margin-right: 70px;
                margin-bottom: 70px;

                &:nth-child(3){
                    margin-right: 0;
                    background-color: #FF414D;
                    .prodDivGeneral-carousel_content-boxImgPrice, .prodDivGeneral-carousel_content-boxHeader_wrap-text {
                        color: white;
                    }
                }

                
                &Header{
                    display: flex;
                    justify-content: center;
                    height: 40px;
                    padding: 5px;
                    &_wrap{
                        &-text{
                            text-decoration: none;
                            font-family: Prosto One;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            color: black;
                            margin-right: 27px;
                            margin-bottom: 0;
    
                            &:nth-child(1){
                                font-size: 13px;
                            }
                        }
                    }
                    &_heart{
                        display: flex;
                        align-items: center;
                        img {
                            width: 50px;
                            height: 20px;

                            &:hover{
                                color: #FF414D;
                                cursor: pointer;
                                text-decoration: underline;
                                filter: invert(90%) sepia(75%) saturate(4882%) hue-rotate(347deg) brightness(76%) contrast(99%);
                            }
                        }
                        
                    }
                }
                
                &Img{
                    display:flex;
                    align-items: center;
                    flex-direction: column;

                    &:hover{
                        cursor: pointer;
                        img{
                            transform: scale(100%);
                        }
                    }
                    &_img{
                        height: 140px;
                        width: auto; 
                        transform: translateX(80px);
                        transition: all ease-in 0.3s;
                    }

                    &Price{
                        padding: 5px;
                        width: 100%;
                        text-align: left;
                        text-decoration: none;
                        font-family: Prosto One;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        color: black;
                        margin-bottom: 0;
                        box-sizing: border-box;
                    }
                    
                }
                
                

            }
        }
    }
}