<div class="prodDivGeneral">
    <div class="prodDivGeneral-config">
        <!-- box2 -->
        <div class="prodDivGeneral-config_Box">
            <div class="prodDivGeneral-config_Box-header">
                <p class="prodDivGeneral-config_Box-header_text"> Preço </p>
                <span class="prodDivGeneral-config_Box-header_span"> </span>
            </div>
 
            <div class="prodDivGeneral-config_Box-content">
                 <input class="prodDivGeneral-config_Box-content_input" type="range" value=150 max=300 min=0>
                 <p class="prodDivGeneral-config_Box-content_text"> até R$150 </p>
                 <input class="prodDivGeneral-config_Box-content_button" type="button" value="Filtrar"> 
            </div>
        </div>
        
        <!-- box3 -->
        <div class="prodDivGeneral-config_Box">
            <div class="prodDivGeneral-config_Box-header">
                <p class="prodDivGeneral-config_Box-header_text"> Entrega </p>
                <span class="prodDivGeneral-config_Box-header_span"> </span>
            </div>
            
            <div class="prodDivGeneral-config_Box-content">
                 <ul class="prodDivGeneral-config_Box-content_list2">
                     <li class="prodDivGeneral-config_Box-content_list2Item">
                         <a routerLink="/produtos"> Frete grátis </a>
                     </li>
                     <li class="prodDivGeneral-config_Box-content_list2Item">
                         <a routerLink="/produtos"> Frete full </a>
                     </li>
                     <li class="prodDivGeneral-config_Box-content_list2Item">
                         <a routerLink="/produtos"> Retirar na loja </a>
                     </li>
                     <li class="prodDivGeneral-config_Box-content_list2Item">
                         <a routerLink="/produtos"> Entrega programada </a>
                     </li>
                 </ul>
            </div>
        </div>
        <!-- box4 -->
        <div class="prodDivGeneral-config_Box">
            <div class="prodDivGeneral-config_Box-header">
                <p class="prodDivGeneral-config_Box-header_text"> Marcas </p>
                <span class="prodDivGeneral-config_Box-header_spanX"> </span>
                <span class="prodDivGeneral-config_Box-header_span"> </span>
            </div>
        </div>
    </div>
 
    <div class="prodDivGeneral-carousel">
       <div class="prodDivGeneral-carousel_header">
          <div class="prodDivGeneral-carousel_header-div">
            <div class="prodDivGeneral-carousel_header-divBreadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/decks" routerLinkActive="active">Decks</a></li>
                </ol>
            </div>
             <p class="prodDivGeneral-carousel_header-divText"> 11 produto(s) </p>
             <p class="prodDivGeneral-carousel_header-divText"> 
                Ordenar por
                <span class="prodDivGeneral-carousel_header-divText-span">  </span> 
             </p>
             <p class="prodDivGeneral-carousel_header-divText"> 1 </p>
             <p class="prodDivGeneral-carousel_header-divText"> 2 </p>
             <p class="prodDivGeneral-carousel_header-divText"> 3 </p>
          </div>
       </div>
 
       <div class="prodDivGeneral-carousel_content">
          <div class="prodDivGeneral-carousel_content-box">    
             <div class="prodDivGeneral-carousel_content-boxHeader">
                 <div class="prodDivGeneral-carousel_content-boxHeader_wrap">
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Farm </p>
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Deck Surf </p>
                 </div>
                 <div class="prodDivGeneral-carousel_content-boxHeader_heart">
                   <img src="../../../assets/Imgs/heart.svg" alt="coraçãozinho">
                 </div>
                
             </div>
             <div class="prodDivGeneral-carousel_content-boxImg">
                <img class="prodDivGeneral-carousel_content-boxImg_img" src="../../../assets/Imgs/decks/deck_amarelo-removebg-preview.png" alt="Deck">
                <p class="prodDivGeneral-carousel_content-boxImgPrice">
                R$80.90
             </p>
             </div>
          </div>
 
          <div class="prodDivGeneral-carousel_content-box">    
             <div class="prodDivGeneral-carousel_content-boxHeader">
                 <div class="prodDivGeneral-carousel_content-boxHeader_wrap">
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Imaginativas </p>
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Deck Bath </p>
                 </div>
                 <div class="prodDivGeneral-carousel_content-boxHeader_heart">
                   <img src="../../../assets/Imgs/heart.svg" alt="coraçãozinho">
                 </div>
                
             </div>
             <div class="prodDivGeneral-carousel_content-boxImg">
                <img class="prodDivGeneral-carousel_content-boxImg_img" src="../../../assets/Imgs/decks/decks_azul-removebg-preview.png" alt="Deck">
                <!-- Miau pra você s2 -->
                <p class="prodDivGeneral-carousel_content-boxImgPrice">
                R$55.00
             </p>
             </div>
          </div>
          <div class="prodDivGeneral-carousel_content-box">    
             <div class="prodDivGeneral-carousel_content-boxHeader">
                 <div class="prodDivGeneral-carousel_content-boxHeader_wrap">
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Intensivas </p>
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Deck Côncor </p>
                 </div>
                 <div class="prodDivGeneral-carousel_content-boxHeader_heart">
                   <img src="../../../assets/Imgs/heart.svg" alt="coraçãozinho">
                 </div>
                
             </div>
             <div class="prodDivGeneral-carousel_content-boxImg">
                <img class="prodDivGeneral-carousel_content-boxImg_img" src="../../../assets/Imgs/decks/deck_caveira-removebg-preview.png" alt="Deck">
                <p class="prodDivGeneral-carousel_content-boxImgPrice">
                R$78.55
             </p>
             </div>
          </div>
          <div class="prodDivGeneral-carousel_content-box">    
             <div class="prodDivGeneral-carousel_content-boxHeader">
                 <div class="prodDivGeneral-carousel_content-boxHeader_wrap">
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Empíricas </p>
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Deck Dani </p>
                 </div>
                 <div class="prodDivGeneral-carousel_content-boxHeader_heart">
                   <img src="../../../assets/Imgs/heart.svg" alt="coraçãozinho">
                 </div>
                
             </div>
             <div class="prodDivGeneral-carousel_content-boxImg">
                <img class="prodDivGeneral-carousel_content-boxImg_img" src="../../../assets/Imgs/decks/decks_cinza-removebg-preview.png" alt="Deck">
                <p class="prodDivGeneral-carousel_content-boxImgPrice">
                R$49.99
             </p>
             </div>
          </div>
          <div class="prodDivGeneral-carousel_content-box">    
             <div class="prodDivGeneral-carousel_content-boxHeader">
                 <div class="prodDivGeneral-carousel_content-boxHeader_wrap">
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Usual </p>
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Deck Elix </p>
                 </div>
                 <div class="prodDivGeneral-carousel_content-boxHeader_heart">
                   <img src="../../../assets/Imgs/heart.svg" alt="coraçãozinho">
                 </div>
                
             </div>
             <div class="prodDivGeneral-carousel_content-boxImg">
                <img class="prodDivGeneral-carousel_content-boxImg_img" src="../../../assets/Imgs/decks/deck_colorido-removebg-preview.png" alt="Deck">
                <!-- miau dnv s2 dnv -->
                <p class="prodDivGeneral-carousel_content-boxImgPrice">
                R$80.90
                </p>
             </div>
          </div>
          <div class="prodDivGeneral-carousel_content-box">    
             <div class="prodDivGeneral-carousel_content-boxHeader">
                 <div class="prodDivGeneral-carousel_content-boxHeader_wrap">
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Interminável </p>
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Deck Fontuê </p>
                 </div>
                 <div class="prodDivGeneral-carousel_content-boxHeader_heart">
                   <img src="../../../assets/Imgs/heart.svg" alt="coraçãozinho">
                 </div>
                
             </div>
             <div class="prodDivGeneral-carousel_content-boxImg">
                <img class="prodDivGeneral-carousel_content-boxImg_img" src="../../../assets/Imgs/decks/deck_ct-removebg-preview.png" alt="Deck">
                <p class="prodDivGeneral-carousel_content-boxImgPrice">
                R$65.00
             </p>
             </div>
          </div>
          <div class="prodDivGeneral-carousel_content-box">    
             <div class="prodDivGeneral-carousel_content-boxHeader">
                 <div class="prodDivGeneral-carousel_content-boxHeader_wrap">
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Correlato </p>
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Deck Grand </p>
                 </div>
                 <div class="prodDivGeneral-carousel_content-boxHeader_heart">
                   <img src="../../../assets/Imgs/heart.svg" alt="coraçãozinho">
                 </div>
                
             </div>
             <div class="prodDivGeneral-carousel_content-boxImg">
                <img class="prodDivGeneral-carousel_content-boxImg_img" src="../../../assets/Imgs/decks/deck_laranja-removebg-preview.png" alt="Deck">
                <p class="prodDivGeneral-carousel_content-boxImgPrice">
                R$99.99
             </p>
             </div>
          </div>
          <div class="prodDivGeneral-carousel_content-box">    
             <div class="prodDivGeneral-carousel_content-boxHeader">
                 <div class="prodDivGeneral-carousel_content-boxHeader_wrap">
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Hering </p>
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Deck Hering </p>
                 </div>
                 <div class="prodDivGeneral-carousel_content-boxHeader_heart">
                   <img src="../../../assets/Imgs/heart.svg" alt="coraçãozinho">
                 </div>
                
             </div>
             <div class="prodDivGeneral-carousel_content-boxImg">
                <img class="prodDivGeneral-carousel_content-boxImg_img" src="../../../assets/Imgs/decks/deck_paz-removebg-preview.png" alt="Deck">
                <p class="prodDivGeneral-carousel_content-boxImgPrice">
                R$120.00
             </p>
             </div>
          </div>
          <div class="prodDivGeneral-carousel_content-box">    
             <div class="prodDivGeneral-carousel_content-boxHeader">
                 <div class="prodDivGeneral-carousel_content-boxHeader_wrap">
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Verizon </p>
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Deck Igno </p>
                 </div>
                 <div class="prodDivGeneral-carousel_content-boxHeader_heart">
                   <img src="../../../assets/Imgs/heart.svg" alt="coraçãozinho">
                 </div>
                
             </div>
             <div class="prodDivGeneral-carousel_content-boxImg">
                <img class="prodDivGeneral-carousel_content-boxImg_img" src="../../../assets/Imgs/decks/deck_roxo-removebg-preview.png" alt="Deck">
                <p class="prodDivGeneral-carousel_content-boxImgPrice">
                R$74.99
             </p>
             </div>
          </div>
          <div class="prodDivGeneral-carousel_content-box">    
             <div class="prodDivGeneral-carousel_content-boxHeader">
                 <div class="prodDivGeneral-carousel_content-boxHeader_wrap">
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Zyro </p>
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Deck Jossuê </p>
                 </div>
                 <div class="prodDivGeneral-carousel_content-boxHeader_heart">
                   <img src="../../../assets/Imgs/heart.svg" alt="coraçãozinho">
                 </div>
                
             </div>
             <div class="prodDivGeneral-carousel_content-boxImg">
                <img class="prodDivGeneral-carousel_content-boxImg_img" src="../../../assets/Imgs/decks/deck_sla-removebg-preview.png" alt="Deck">
                <p class="prodDivGeneral-carousel_content-boxImgPrice">
                R$105.00
             </p>
             </div>
          </div>
          <div class="prodDivGeneral-carousel_content-box">    
             <div class="prodDivGeneral-carousel_content-boxHeader">
                 <div class="prodDivGeneral-carousel_content-boxHeader_wrap">
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Kwisy </p>
                     <p class="prodDivGeneral-carousel_content-boxHeader_wrap-text"> Deck LS </p>
                 </div>
                 <div class="prodDivGeneral-carousel_content-boxHeader_heart">
                   <img src="../../../assets/Imgs/heart.svg" alt="coraçãozinho">
                 </div>
                
             </div>
             <div class="prodDivGeneral-carousel_content-boxImg">
                <img class="prodDivGeneral-carousel_content-boxImg_img" src="../../../assets/Imgs/decks/deck_verde-removebg-preview.png" alt="Deck">
                <p class="prodDivGeneral-carousel_content-boxImgPrice">
                R$92.00
             </p>
             </div>
          </div>
       </div>
    </div>
 </div>
 
 
