<div class="prodDivGeneral">
    <div class="prodDivGeneral-Breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active"> Home </a></li>
            <li class="breadcrumb-item"><a routerLink="/capas" routerLinkActive="active"> </a></li>
        </ol>
    </div>
    
    <div class="prodDivGeneral-img">
        <img class="prodDivGeneral-img_Error" src="../../../assets/Imgs/503 Error Service Unavailable-amico.png" alt="Error">
    </div>

    <div class="prodDivGeneral-text">
        <p class="prodDivGeneral-text-Atencao"> PÁGINA EM MANUTENÇÃO! </p>
        <p class="prodDivGeneral-text-Text"> Para continuar a produção será necessário arrecadar 5 pontos. A doação será realizada pelo site CANVAS. Agradecemos o seu interesse em ajudar!</p>   
    </div>

</div>
    