<nav>       
    <div class="logo">
        <img src="../../../assets/Imgs/logo_concha.png" alt="logo" border="0" id="logo">
    </div>
    <div>
        <img src="https://i.ibb.co/G0SLZrN/entrar-2.png" alt="entrar-2" border="0">
        <a routerLink="/entrar" routerLinkActive="selected">
            <span>Entrar</span>
        </a>
    </div>
    <div>
        <a routerLink="/home" routerLinkActive="selected">
            <img src="https://i.ibb.co/4P1GTTd/home.png" alt="home" border="0">
            <span>Home</span>
        </a>
    </div>
    <div>
        <img src="https://i.ibb.co/VWrVcyP/pravc.png" alt="pravc" border="0">
        <span>Para Você</span>
        <ul>
            <li><a routerLink="/produtos/bermudas"> Bermudas </a></li>
            <li><a routerLink="/produtos/biquinis"> Biquínis </a></li>
            <li><a routerLink="/produtos/maios"> Maiôs </a></li>
            <li><a routerLink="/produtos/macacao"> Macacão </a></li>
            <li><a routerLink="/produtos/poncho"> Poncho </a></li>
            
        </ul>
    </div>
    <div>
        <img src="https://i.ibb.co/X5Pb8z9/para-o-mar-2.png" alt="para-o-mar-2" border="0">
        <span>Para o Mar</span>
        <ul>
            <li><a routerLink="/produtos/capas"> Capas </a></li>
            <li><a routerLink="/produtos/decks"> Decks </a></li>
            <li><a routerLink="/produtos/parafina"> Parafina </a></li>
            <li><a routerLink="/produtos/prancha"> Prancha </a></li>
            <li><a routerLink="/produtos/quilhas"> Quilhas </a></li>
        </ul>
    </div>
</nav>
